
.button{
    &:link, &:visited{
        text-decoration: none;
        padding: 1.5rem 4rem;
        text-transform: uppercase;
        display: inline-block;
        background-color:$color-white;
        color:$color-grey;
        position: absolute;
         top:65%;
         left:50%;
         transform: translate(-50%,-50%);
         text-align: center;
         border-radius:10rem;
         transition: all .5s;
         position: relative;
        // animation:moveInTop 4s ease-out 2s;
        // animation-fill-mode: backwards;
                }
        &:hover{
            // transform: translateX(-.2rem);
            box-shadow:.1rem .5rem .5rem $color-black;
            &::after{
                transform: scale(1.2);
                opacity: 0;
            }
        }
        &:active{
//             transform: translateY(.2rem);
            box-shadow:.2rem .5rem .5rem $color-white;
        }
        &::after{
            content: "";
            height:100%;
            width:100%;
            background-color:$color-white;
            border-radius:10rem;
            position: absolute;
            top:0%;
            left:0%;
            transition: all .2s;
            z-index: -1;
        }
}
/*.button-white{
    background-color: $color-white;
    color:grey;
    border-radius: 35%;
    padding: 1rem;
    text-decoration: none;

    &::after{
        background-color: $color-white;

    }
}*/

.btn-text{
&:link,
&:visited{
    font-size: $default-font;
    text-decoration: none;
    color:$color-navy;
    border-bottom: .1px solid $color-navy;
    padding:.3rem;
    transition:all .3s;
    border-radius: 10px;
        }
    &:hover{
      background-color: rgba($color-dark-red,.6);
      color:$color-white;
      display: inline-block;
      box-shadow: 0rem .5rem 1rem rgba($color-light-red,.8);
      transform:translateY(-.2rem);//kai baar trnasform propertry work nhi krti to ham display:inline-block; use krtey h...
            }
    &:active{
        transform: translateY(.2rem);
        box-shadow: .5rem 1rem 2rem rgba($color-light-green,.8);
    }
}
.card__cta--btn{
    text-align: center;
    margin-right: 2.2rem;
}
.button--tours--card{
    margin-top: 6rem;
    font-size: 1.6rem;
    font-weight: 900;
    margin-left: 0rem;
}
.btn---text{
    margin-left: 43rem;
}
.button-booking{
    background-color: rgba($color-orangered,.7);
    color:$color-white;
    text-decoration: none;
    padding:.5rem 1.5rem;
    border-radius: 10rem;
    margin-top:2rem;
    margin-left: 0rem;
    display: inline-block;
    font-size: 2rem;
    transition: all .5s;
    &:hover{
        box-shadow: 0 .5rem 1rem $color-black;
        }
}
.btn__booking{
    margin-left: -36rem;
    background-color: $color-black !important;
    color:$color-orangered;
    font-size: 1.6rem;
    padding: 1rem 2rem;
}